<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.9/angular.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/danialfarid-angular-file-upload/12.2.13/ng-file-upload.min.js"></script>
<script type="text/javascript">
    var app = angular.module('App', ['ngFileUpload'])
    app.controller('Controller', function ($scope, $window) {
        $scope.SelectFile = function (file) {
            $scope.SelectedFile = file;
        };
        $scope.Upload = function () {
            var regex = /^([a-zA-Z0-9\s_\\.\-:])+(.csv|.txt)$/;
            if (regex.test($scope.SelectedFile.name.toLowerCase())) {
                if (typeof (FileReader) != "undefined") {
                    var reader = new FileReader();
                    reader.onload = function (e) {
                        var customers = new Array();
                        var rows = e.target.result.split("\r\n");
                        for (var i = 1; i < rows.length; i++) {
                            var cells = rows[i].split(",");
                            if (cells.length > 1) {
                                var customer = {};
                                customer.FirstName = cells[0];
                                customer.SurName = cells[1];
                                customer.Dateofbirth = cells[2];
								customer.IssueCount = cells[3];
                                customers.push(customer);
                                $scope.$apply(function () {
                                    $scope.Customers = customers;
                                    $scope.IsVisible = true;
                                });
                            }
                        }
 
                    }
                    reader.readAsText($scope.SelectedFile);
                } else {
                    $window.alert("This browser does not support HTML5.");
                }
            } else {
                $window.alert("Please upload a valid CSV file.");
            }
        }
    });
</script>
<div ng-app="App" ng-controller="Controller">
    <input type="file" ngf-select="SelectFile($file)" />
    <input type="button" value="Upload" ng-click="Upload()" />
    <hr />
    <table id="tblCustomers" cellpadding="0" cellspacing="0" ng-show="IsVisible">
        <tr>
            <th>First Name</th>
            <th>Sur Name</th>
            <th>Date of birth</th>
			<th>Issue Count</th>
        </tr>
        <tbody ng-repeat="m in Customers">
            <tr>
                <td>{{m.FirstName}}</td>
                <td>{{m.SurName}}</td>
                <td>{{m.Dateofbirth}}</td>
				<td>{{m.IssueCount}}</td>
            </tr>
        </tbody>
    </table>
</div>